################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TP3_EDA/v15
/TP3-G2/.vs/TP3-G2/v15/Browse.VC.db
/TP3-G2/.vs/TP3-G2/v15/Browse.VC.opendb
/.vs
